:root {
	--dark: #384252;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #5e7196;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
    /* margin: 0; */
    box-sizing: border-box;
    font-family:"fira sans",sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #100606;
	background-color:rgb(33, 3, 44);   
}

ul id {
    list-style: none;
    font-size: 10px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
} 

header {
    padding: 3rem 1rem;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;  
}  


header h1{ 
    font-size: 2.6rem;
    font-weight: 750;
    color: var(--grey);
    margin-bottom: 1rem; 
    }  

#new-task-form {
        display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink); /* Initial color for browsers that do not support the gradient text */
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text; /* For WebKit browsers */
	background-clip: text; /* Standard property for gradient background apply on text */
	-webkit-text-fill-color: transparent; /* For WebKit browsers */
	color: transparent; /* Text color to Transparent for all Browsers. */
	cursor: pointer;
	transition: 0.4s;
}


#new-task-submit:hover {
    opacity: 0.8;
}
    
#new-task-submit:active {
    opacity: 0.6;
}

main {
    padding-left: 150px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;    
}

.task-list {
    padding:1rem;
    background-color:#182130;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0,3);
    width: 500px;
} 

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--grey);
}
    
#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .content .text:not(:read-only) {
    color: var(--pink);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}
      
.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.4s;
}
    
.task .actions button:hover {
    opacity: 0.8;;
}

.task .actions button:active {
    opacity: 0.6;
}
    
.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text; /* For WebKit Browsers */
    background-clip: text; /* This may or may not work in Webkit Browsers */
    -webkit-text-fill-color: transparent; /* For WebKit Browsers */
    color: transparent; /* Text color to Transparent for all Browsers. */
}

    
.task .actions .delete {
    color: crimson;
}  
    
    
